PORT= "tu puerto"
APIKEY= "Tus keys"
AUTHDOMAIN= "Tus keys"
PROJECTID= "Tus keys"
STORAGEBUCKET= "Tus keys"
MESSAGINGSENDERID= "Tus keys"
APPID= "Tus keys"
JWT_SECRET=""
ADMIN_USER="admin"
ADMIN_PASS="admin"